<template>
  <header>
    <div class="logo" @click="$router.push('/')">
      <span>Tc</span>shop
    </div>
    <md-tabs md-alignment="right">
      <template slot="md-tab" slot-scope="{ tab }">
        <md-icon>{{ tab.icon }}</md-icon>
        {{ tab.label }} <i class="badge" v-if="tab.data.badge">{{ tab.data.badge }}</i>
      </template>
      <md-tab id="tab-home" md-label="Домой" md-icon="home" to="/"/>

      <md-tab id="tab-pages" md-label="Помощь" md-icon="pages"/>

      <md-tab id="tab-shop" md-label="Корзина" :md-template-data="{ badge: orderSize }" md-icon="shopping_cart" to="/order"/>

    </md-tabs>
  </header>
</template>

<script>
export default {
  name: 'Header',
  computed: {
    orderSize: function () {
      return this.$store.getters.ordered.length
    }
  }
}
</script>

<style scoped lang="scss">
  @import '../../scss/colors.scss';

  header {
    display: flex;
    justify-content: space-between;

    width: 100%;

    border-top: 14px $color--black solid;

    background-color: $background--white;

    .logo {
      margin-left: 4em;
      display: flex;
      align-items: center;
      font-size: 24px;

      span {
        font-size: 28px;
        padding: 10px 6px;
        margin: 4px;
        border: black 2px solid;
      }
    }

    .badge {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 10px;
      right: 30px;
      background: red;
      border-radius: 100%;
      color: #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      letter-spacing: -.05em;
      z-index: 100;
      font-family: 'Roboto Mono', monospace;
    }
  }
</style>
