<template>
  <md-app-drawer md-permanent="card">
    <md-list>
      <md-list-item
        v-for="category in categories"
        :key="category.id"
        :md-expand="category.children.length !== 0"
        :to="'/category/' + category.name">
        <span class="md-list-item-text">{{ category.verbose_name }}</span>

        <md-list slot="md-expand" v-if="category.children.length">
          <md-list-item class="md-inset"
            v-for="subCategory in category.children"
            :key="subCategory.id"
            :to="'/category/' + subCategory.name">
            <span class="md-list-item-text">{{ subCategory.verbose_name }}</span>
          </md-list-item>
        </md-list>

      </md-list-item>
    </md-list>
  </md-app-drawer>
</template>

<script>
export default {
  name: 'Navbar',
  data: function () {
    return {
      sectionId: 0
    }
  },
  computed: {
    categories: function () {
      return this.$store.getters.categories
    }
  }
}
</script>

<style scoped lang="scss">
  @import '../../scss/colors.scss';

  .md-app-drawer {
    margin: 4px;
    width: 300px;
  }

  .md-drawer {
    width: 300px;
  }
</style>
