<template>
  <md-toolbar md-elevation="2" class="md-transparent">
    <div class="md-toolbar-section-start">
      <md-button class="md-icon-button" @click="sortProducts">
        <md-icon :class="{reversed: asc}">sort</md-icon>
      </md-button>
      <md-field>
        <md-select name="sort" v-model="sortField">
          <md-option value="name">По имени</md-option>
          <md-option value="price">По цене</md-option>
        </md-select>
      </md-field>
    </div>

    <div class="md-toolbar-section-end">
      <md-button class="md-icon-button" @click="dropFilter">
        <md-icon>refresh</md-icon>
      </md-button>

      <md-button class="md-icon-button">
        <md-icon>more_vert</md-icon>
      </md-button>
    </div>

  </md-toolbar>
</template>

<script>
export default {
  name: 'toolbar',
  props: ['title'],
  computed: {
    direction: function () {
      return this.asc ? '' : '-'
    },
    category: function () {
      return this.$store.getters.currentCategory
    }
  },
  data: function () {
    return {
      asc: true,
      sortField: 'name'
    }
  },
  methods: {
    sortProducts: function () {
      this.$set(this, 'asc', !this.asc)
      this.$store.dispatch('filterProducts', { category: this.$route.params.name, ordering: this.direction + this.sortField })
    },
    dropFilter: function () {
      this.$store.dispatch('filterProducts', { category: this.$route.params.name })
    }
  }
}
</script>

<style scoped lang="scss">
  @import '../../scss/colors.scss';

  .reversed {
    transform: scaleY(-1);
  }

  .md-toolbar.md-theme-default.md-transparent {
    background-color: $background--white;
    margin: 4px;
    width: 81.55%;
  }
  .md-toolbar .md-field {
    width: 300px;
  }
</style>
