<template>
  <div class="filter">
    Ценовой диапазон:
    <vue-slider ref="slider"
        class="filter-slider"
        :value.sync="value"
        :slider-style="sliderStyle"
        :tooltip-style="tooltipStyle"
        :process-style="processStyle"/>
  </div>
</template>

<script>
import VueSlider from 'vue-slider-component'

export default {
  name: 'FilterPrinter',
  data: function () {
    return {
      value: [0, 9000],
      sliderStyle: [
        {
          'backgroundColor': '#f05b72'
        },
        {
          'backgroundColor': '#3498db'
        }
      ],
      tooltipStyle: [
        {
          'backgroundColor': '#f05b72',
          'borderColor': '#f05b72'
        },
        {
          'backgroundColor': '#3498db',
          'borderColor': '#3498db'
        }
      ],
      processStyle: {
        'backgroundImage': '-webkit-linear-gradient(left, #f05b72, #3498db)'
      }
    }
  },
  components: {
    VueSlider
  }
}
</script>

<style lang="scss">
  @import '../../../scss/colors';

  .filter {
    margin-top: 3em;

    box-shadow: $shadow--grey 2px 2px 5px;

    background-color: $color--grey;
    height: 500px;
    padding: 1em;

    &-slider {
      margin: 2em;
    }

  }
</style>
