<template>
  <div v-if="imprint">
    <md-card>
      <md-card-header>
        <div class="md-title">Характеристики</div>
      </md-card-header>

      <md-card-content>
        <md-list>
          <md-list-item md-expand v-for="group in imprint.characteristics_group"
            :key="group.id">
            <span class="md-list-item-text">{{ group.verbose_name }}</span>
            <md-list slot="md-expand">
              <md-list-item class="md-inset" v-for="characteristic in group.characteristics"
                :key="characteristic.id"
                v-if="characteristic.type !== 'any'">
                <div v-if="characteristic.type === 'vector'" @click.stop="false" style="cursor: auto">
                  <md-subheader>{{ characteristic.verbose_name }}</md-subheader>
                  <div v-for="option in characteristic.constraints.values"
                    :key="option.order">
                    <md-checkbox v-model="data[characteristic.name].value" :value="option.option">{{ option.option }}</md-checkbox>
                  </div>
                </div>
                <div v-else-if="characteristic.type === 'scalar'">
                  <md-subheader>{{ characteristic.verbose_name }}</md-subheader>
                  <div style="display: flex; align-items: center; width: 270px">
                    <md-field>
                      <label>{{ characteristic.constraints.measure_unit }}</label>
                      <md-input v-model="data[characteristic.name].gt" placeholder="От" type="number" :min="characteristic.constraints.min"></md-input>
                    </md-field>
                    <div style="margin: 6px;">-</div>
                    <md-field>
                      <label>{{ characteristic.constraints.measure_unit }}</label>
                      <md-input v-model="data[characteristic.name].lt" placeholder="До" type="number" :min="characteristic.constraints.min"></md-input>
                    </md-field>
                  </div>
                </div>
                <template v-else-if="characteristic.type === 'bool'">
                  <md-switch v-model="data[characteristic.name].value">{{ characteristic.verbose_name }}</md-switch>
                </template>
              </md-list-item>
            </md-list>
            </md-list-item>
        </md-list>
      </md-card-content>

      <md-card-actions>
        <md-button @click="filter" type="submit" class="md-primary">Фильтровать</md-button>
      </md-card-actions>
    </md-card>
  </div>
</template>

<script>
import VueSlider from 'vue-slider-component'

export default {
  name: 'product-filter',
  computed: {
    imprint: function () {
      return this.$store.getters.currentCategory.imprint
    }
  },
  data: function () {
    return {
      data: {
        from: {},
        to: {}
      },
      sliderStyle: [
        {
          'backgroundColor': '#f05b72'
        },
        {
          'backgroundColor': '#3498db'
        }
      ],
      tooltipStyle: [
        {
          'backgroundColor': '#f05b72',
          'borderColor': '#f05b72'
        },
        {
          'backgroundColor': '#3498db',
          'borderColor': '#3498db'
        }
      ],
      processStyle: {
        'backgroundImage': '-webkit-linear-gradient(left, #f05b72, #3498db)'
      }
    }
  },
  methods: {
    filter: function () {
      this.$store.dispatch('filterProducts', this.cleanup(this.data))
    },
    cleanup: function (data) {
      let query = {}
      query.category = this.$store.getters.currentCategory.name
      for (let key in data) {
        if (data.hasOwnProperty(key)) {
          if (data[key].type === 'scalar') {
            if (data[key].lt) {
              query[key + '__lt'] = data[key].lt
            }
            if (data[key].gt) {
              query[key + '__gt'] = data[key].gt
            }
          } else if (data[key].type === 'vector') {
            if (data[key].value.length !== 0) {
              query[key + '__in'] = data[key].value
            }
          } else if (data[key].type === 'bool') {
            if (data[key].value) {
              query[key + '__is'] = data[key].value
            }
          }
        }
      }
      return query
    }
  },
  watch: {
    imprint: function (newImprint, oldImprint) {
      this.data = newImprint.characteristics_group.reduce((a, g) => {
        return Object.assign(a, g.characteristics.reduce((na, c) => {
          if (c.type === 'scalar') {
            na[c.name] = {
              type: 'scalar',
              gt: undefined,
              lt: undefined
            }
          } else if (c.type === 'vector') {
            na[c.name] = {
              type: 'vector',
              value: []
            }
          } else {
            na[c.name] = {
              type: 'bool',
              value: false
            }
          }
          return na
        }, {}))
      }, {})
    }
  },
  components: {
    VueSlider
  }
}
</script>

<style scoped lang="scss">
  .md-card {
    margin: 1em 4px;
    width: 300px;

    .md-card-content {
      padding: 0;
    }

    .md-field {
      margin: 0;
      width: 125px;
    }

    .filter-slider {
      width: 100%;
      margin-top: 2.5em;
    }
  }
</style>
