<template>
  <md-card md-with-hover>
    <md-ripple>
      <md-card-content>
        <div class="order--item--image" v-show="!imagePlaceholder">
          <img :src="url" @error="imagePlaceholder = true">
        </div>
        <md-icon class="no-image md-size-4x" v-if="imagePlaceholder">wallpaper</md-icon>
        <div class="order--item--name">
          <div class="md-title">{{ item.type }} / {{ item.name }}</div>
          <div class="md-subhead">{{ item.price }} тг</div>
        </div>

        <div class="order--item--actions">
          <md-button class="md-icon-button md-primary"
            @click="remove">
            <md-icon>remove</md-icon>
          </md-button>
          <md-field>
            <md-input @change="processNewQuatity" :value="item.quantity" type="number"/>
          </md-field>
          <md-button class="md-icon-button md-primary"
            @click="add">
            <md-icon>add</md-icon>
          </md-button>
        </div>

        <div class="order--item--price">
          <div class="md-title">{{ item.price * item.quantity }} тг</div>
          <md-button class="md-icon-button md-primary"
            @click="purge">
            <md-icon>clear</md-icon>
          </md-button>
        </div>
      </md-card-content>
    </md-ripple>
  </md-card>
</template>

<script>
export default {
  name: 'OrderItem',
  props: ['item'],
  data: function () {
    return {
      imagePlaceholder: false
    }
  },
  computed: {
    url: function () {
      return 'http://127.0.0.1:8000/static/img/' + this.item.photo_path
    }
  },
  methods: {
    remove: function () {
      this.$store.dispatch('removeItemFromOrder', { item: Object.assign({}, this.item) })
    },
    add: function () {
      this.$store.dispatch('addItemToOrder', { item: Object.assign({}, this.item) })
    },
    purge: function () {
      let amount = this.item.quantity
      for (let i = 0; i < amount; i++) this.remove()
    },
    processNewQuatity: function (event) {
      let delta = +event.target.value - this.item.quantity
      if (delta > 0) {
        for (let i = 0; i < delta; i++) this.add()
      } else {
        for (let i = 0; i > delta; i--) this.remove()
      }
    }
  }
}
</script>

<style scoped lang="scss">
  .md-card {
    margin-bottom: 1em;
  }

  .md-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .order--item {
    &--image img {
      width: 96px;
      max-width: unset;

      margin: 12px;
    }

    &--actions {
      display: flex;
      align-items: center;

      width: 20%;
    }

    &--name {
      width: 40%;
    }

    &--price {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      width: 40%;
    }
  }

  .no-image {
    margin: 12px;
  }
</style>
