<template>
  <md-card md-with-hover>
    <md-ripple>
      <md-card-header>
        <router-link :to="'/products/' + product.id">
          <div class="md-card-header-info">
            <div class="md-title">{{ product.name }}</div>
            <div class="md-subhead">{{ product.type }}</div>
          </div>
        </router-link>
        <md-menu md-size="big" md-direction="bottom-end">
          <md-button class="md-icon-button" md-menu-trigger>
            <md-icon>more_vert</md-icon>
          </md-button>

          <md-menu-content>
            <md-menu-item @click.stop="doACall">
              <span>Позвоните мне</span>
              <md-icon>phone</md-icon>
            </md-menu-item>

            <md-menu-item @click.stop="sendMessage">
              <span>Напишите мне</span>
              <md-icon>message</md-icon>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-card-header>

      <md-card-media v-show="!imagePlaceholder" md-ratio="4:3" md-text-scrim>
        <img :src="url" @error="imagePlaceholder = true">
      </md-card-media>

      <md-empty-state v-if="imagePlaceholder"
        md-icon="wallpaper">
      </md-empty-state>

      <div class="md-card-footer">
        <h3 class="md-title">{{ product.price }} Тг.</h3>
        <md-button class="md-fab" @click.stop="addToCart(product)">
          <md-icon>add_shopping_cart</md-icon>
        </md-button>
      </div>
    </md-ripple>
  </md-card>
</template>

<script>
export default {
  name: 'Product',
  props: ['product'],
  computed: {
    url: function () {
      return 'http://127.0.0.1:8000/static/img/' + this.product.photo_path
    }
  },
  data: function () {
    return {
      imagePlaceholder: false
    }
  },
  methods: {
    sendMessage () {
      window.alert('Send a message...')
    },
    doACall () {
      window.alert('Calling someone...')
    },
    addToCart (product) {
      this.$store.dispatch('addToCart', { product })
    }
  }
}
</script>

<style scoped lang="scss">
  @import '../../scss/colors';

  .md-card {
    width: 300px;
    height: 450px;
    margin: 4px;
    display: inline-block;
    vertical-align: top;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .md-ripple {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .md-card-header {
    display: flex;

    a {
      color: unset;
      text-decoration: none;
    }
  }
  .md-card-header-info {
    width: 90%;
  }
  .md-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

    &-text {
      font-size: 16px;
    }
  }
</style>
