<template>
  <div :class="['products', {'empty': products.length == 0 }]">
    <div class="card"
      v-for="product in products"
      :key="product.id">
      <Product :product="product" />
    </div>
    <md-empty-state v-if="products.length == 0"
      md-icon="search"
      md-label="Мы не нашли товаров по вашему запросу"
      md-description="Ваши условия поиска и фильтрации слишком жёсткие. Может, смягчить их?">
    </md-empty-state>
  </div>
</template>

<script>
import Product from './Product'

export default {
  name: 'Products',
  computed: {
    products: function () {
      return this.$store.getters.products
    }
  },
  components: {
    Product
  }
}
</script>

<style scoped lang="scss">
  .products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &.empty {
      width: 81.55%;
    }

    .md-empty-state {
      width: 100%;
    }

  }
</style>
