<template>
  <md-app>
    <md-app-toolbar>
      <Header />
    </md-app-toolbar>
    <md-app-content>
      <transition>
        <router-view/>
      </transition>
    </md-app-content>
  </md-app>
</template>

<script>
import Header from './shared/Header'

export default {
  name: 'App',
  created: function () {
    this.$store.dispatch('initApp')
  },
  components: {
    Header
  }
}
</script>

<style lang="scss">
  @import '../scss/colors.scss';

  @import "~vue-material/dist/theme/engine"; // Import the theme engine

  @include md-register-theme("default", (
    primary: black, // The primary color of your application
    accent: md-get-palette-color(yellow, 500) // The accent or secondary color
  ));

  @import "~vue-material/dist/theme/all";

  body {
    font-family: 'Noto Sans', 'Sans', sans-serif;

    margin: 0;

    .content {
      display: flex;
      width: 80%;
      justify-content: space-around;
      align-items: flex-start;

      margin: auto;
    }

    .page {
      margin-left: 1em;
      width: 81.55%;
    }

    .md-tabs.md-theme-default.md-accent .md-tabs-navigation {
      background: transparent;
    }

    .md-app-toolbar {
      padding: 0;
    }

    .md-list-item.md-inset .md-list-item-content {
      padding-left: 14px;
    }

    .md-app .md-app-content {
      background-color: $background--grey !important;
    }

    .md-card-header {
      display: flex;
    }

    .md-card-header-info {
      width: 90%;
    }
  }
</style>
