<template>
  <div class="content">
    <div>
      <Navbar />
      <ProductFilter />
    </div>
    <div class="page">
      <Toolbar title="Привет" />
      <Products />
    </div>
  </div>
</template>

<script>
import Navbar from './shared/Navbar'
import Products from './commerce/Products'
import ProductFilter from './commerce/Filter'
import Toolbar from './shared/Toolbar'

export default {
  name: 'CategoryPage',
  data () {
    return {
      categoryName: this.$route.params.name
    }
  },
  created: function () {
    this.$store.dispatch('filterProducts', { category: this.$route.params.name })
    this.$store.dispatch('clearCurrentProduct')
  },
  beforeRouteUpdate (to, from, next) {
    next()
    this.$store.dispatch('filterProducts', { category: this.$route.params.name })
    this.$store.dispatch('clearCurrentProduct')
  },
  components: {
    Navbar,
    ProductFilter,
    Products,
    Toolbar
  }
}
</script>

<style scoped lang="scss">

</style>
