<template>
  <div class="content">
    <div>
      <Navbar />
    </div>

    <div class="page">
      <Products />
    </div>

  </div>
</template>

<script>
import Navbar from './shared/Navbar'
import Products from './commerce/Products'

export default {
  name: 'MainPage',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  mounted: function () {
    this.$store.dispatch('clearCurrentProduct')
  },
  components: {
    Navbar,
    Products
  }
}
</script>

<style lang="scss">

</style>
