<template>
  <div class="content">
    <div class="order" v-if="!empty">
      <div class="order--data">
        <div v-for="item in items"
          :key="item.id">
          <OrderItem :item="item"/>
        </div>
      </div>
      <div class="order--info">
        <md-card>
          <md-ripple>
            <md-card-header>
              <div class="md-card-header-info">
                <div class="md-title">Номер заказа - {{ orderInfo.number }}</div>
                <div class="md-subhead">Очередной номер</div>
              </div>

              <md-menu md-size="big" md-direction="bottom-end">
                <md-button class="md-icon-button" md-menu-trigger>
                  <md-icon>more_vert</md-icon>
                </md-button>

                <md-menu-content>
                  <md-menu-item @click="doACall">
                    <span>Позвоните мне</span>
                    <md-icon>phone</md-icon>
                  </md-menu-item>

                  <md-menu-item @click="sendMessage">
                    <span>Напишите мне</span>
                    <md-icon>message</md-icon>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </md-card-header>

            <md-card-content>
              Вы можете оформить заказ по телефону если сообщите номер нашему менеджеру

              <div class="md-title">
                Итого: {{ total }} тг
              </div>
            </md-card-content>
            <div @click.stop.prevent="checkout">
              <md-bottom-bar class="md-accent" md-type="shift">
                <div>
                  ЗАКАЗАТЬ
                </div>
              </md-bottom-bar>
              </div>
          </md-ripple>
        </md-card>
      </div>
    </div>
    <md-empty-state v-else
      md-icon="store"
      md-label="Ваша корзина пуста"
      md-description="Самое время наполнить её!">
    </md-empty-state>
  </div>
</template>

<script>
import OrderItem from './commerce/OrderItem'

export default {
  name: 'order-page',
  computed: {
    items: function () {
      return this.$store.getters.ordered.reduce((acc, item) => {
        let counter = acc.find((value) => value.id === item.id)
        if (counter) {
          counter.quantity++
        } else {
          acc.push(Object.assign({}, item, { quantity: 1 }))
        }
        return acc
      }, [])
    },
    empty: function () {
      return this.$store.getters.ordered.length === 0
    },
    total: function () {
      return this.items.reduce((result, item) => {
        result += item.price * item.quantity
        return result
      }, 0)
    },
    orderInfo: function () {
      return this.$store.getters.orderData
    }
  },
  created: function () {
    this.$store.dispatch('clearCurrentProduct')
  },
  methods: {
    checkout: function () {
      this.$store.dispatch('checkoutOrder')
    }
  },
  components: {
    OrderItem
  }
}
</script>

<style scoped lang="scss">
  .order {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;

    &--data {
      width: 70%
    }

    &--info {
      width: 30%;
    }

    .md-bottom-bar {
      cursor: pointer;

      div {
        margin: 1em auto;

        font-size: 24px;
        font-weight: 500;
      }
    }
  }
</style>
