<template>
  <div class="content">
    <div>
      <Navbar />
    </div>
    <md-card md-with-hover>
      <md-card-header>
        <div>
          <div class="md-title">{{ product.type }}<br />{{ product.name }}</div>
          <div class="md-subhead">Артикул: {{ product.vendor_code }}</div>
        </div>
      </md-card-header>

      <div style="display: flex">
        <div v-show="!imagePlaceholder">
          <img :src="url" @error="imagePlaceholder = true">
        </div>
        <md-empty-state v-if="imagePlaceholder"
          md-icon="wallpaper"
          md-label="У нас нет картинки :(">
        </md-empty-state>
        <div class="product-info">
          <div>
            <md-icon class="md-size-4x">local_shipping</md-icon>
            <div class="md-title">Бесплатная доставка по Алматы и Астане</div>
          </div>
          <div>
            <md-icon class="md-size-4x">access_time</md-icon>
            <div class="md-title">В течении двух часов</div>
          </div>
          <div>
            <md-icon class="md-size-4x">verified_user</md-icon>
            <div class="md-title">Официальная гарантия один год</div>
          </div>
          <div>
            <md-button class="md-raised md-primary md-size-4x">Купить в 1 клик</md-button>
            <md-button class="md-raised md-accent md-size-4x">Добавить в корзину</md-button>
          </div>
        </div>
      </div>
      <div class="product-table">
        <div class="product-table-group" v-for="group in ordered((category.imprint || {}).characteristics_group || [])" :key="group.id" v-if="notEmptyGroup(group)">
          <div class="md-title">{{ group.verbose_name }}</div>
          <div class="product-table-row" v-for="characteristic in group.characteristics" :key="characteristic.id" v-if="getValue(characteristic.name)">
            <div class="product-table-cell">{{ characteristic.verbose_name }}</div>
            <div class="product-table-cell">{{ getValue(characteristic.name) }}</div>
          </div>
        </div>
      </div>
    </md-card>
  </div>
</template>

<script>
import Navbar from './shared/Navbar'

export default {
  name: 'ProductPage',
  computed: {
    product: function () {
      return this.$store.getters.product
    },
    category: function () {
      return this.$store.getters.currentCategory
    },
    url: function () {
      return 'http://127.0.0.1:8000/static/img/' + this.product.photo_path
    }
  },
  data: function () {
    return {
      imagePlaceholder: false
    }
  },
  methods: {
    getValue: function (name) {
      return this.product.characteristics[name]
    },
    ordered: function (list) {
      list.sort((a, b) => +a.priority - +b.priority)
      return list
    },
    notEmptyGroup: function (group) {
      return group.characteristics.some((char) => this.getValue(char.name) !== undefined)
    }
  },
  created: function () {
    this.$store.dispatch('getProduct', { id: this.$route.params.id })
  },
  beforeRouteUpdate (to, from, next) {
    debugger
    this.$store.dispatch('getProduct', { id: this.$route.params.id })
    next()
  },
  components: {
    Navbar
  }
}
</script>

<style scoped lang="scss">
  .md-card {
    width: 100%;
    padding: 1em 2em;
  }

  .md-card-media {
    width: 40%;
  }

  .md-title {
    margin: 0.6em;
  }

  .product-table {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    &-group {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }

    &-row {
      display: flex;
      width: 100%;

      padding: 0.4em 1em;

      border-bottom: 1px lightgrey solid;
      font-size: 16px;
    }

    &-cell {
      display: flex;
      width: 50%;
    }
  }

  .product-info {
    width: 60%;
    padding-left: 2em;

    .md-ripple {
      width: unset;
    }

    >div {
      display: -webkit-box;
      align-items: center;

      >div {
        margin-left: 1em;
      }
    }
  }
</style>
